.footer {
  width: 100%;
  margin-bottom: 0px;
  bottom: 0px;
  position: fixed;
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #19547b,
    #ffd89b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #19547b,
    #ffd89b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#team {
  width: fit-content;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}

#team a{
  color: #2b4570;
}

h5{
  color: #2b4570;
}


